<%- include ('../../partials/head.ejs') %>
    <%- include ('../../partials/homeNavbar.ejs') %>


        <div class="container pt-5 pb-5">
            <div class="card">
                <div class="card-header">
                    <h1>Criar novo artigo</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/articles/save">
                        <label for="cat-title">Título</label>
                        <input class="form-control mb-3" id="cat-title" name="title" type="text">
                        <label for="body">Corpo do artigo</label>
                        <textarea class="form-control mb-3" id="article" name="body" rows="25"></textarea>
                        <label for="selected-category">Categoria</label>
                        <select class="form-control mb-3" name="category" id="">
                            <option selected="selected">Selecione uma categoria</option>
                            <% categories.forEach(category=> { %>
                                <option value="<%= category.id %>">
                                    <%= category.title %>
                                </option>
                                <% }) %>
                        </select>
                        <button class="btn btn-info">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>


        <%- include ('../../partials/pageFooter.ejs') %>
        <%- include ('../../partials/footer.ejs') %>

            <!-- TinyMCE - Text Editor -->
            <script src="/js/tinymce/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    language: 'pt_BR',
                    selector: "#article",
                    resize: false,
                    image_dimensions: false,
                    image_class_list: [
                        {title:"None",value:""},
                        {title: "Responsive", value: "img-responsive"}
                    ],
                    plugins: [
                        `advlist
                        autolink
                        link
                        image
                        lists
                        print
                        preview
                        hr
                        searchreplace
                        wordcount
                        fullscreen
                        insertdatetime
                        media
                        save
                        table
                        paste
                        emoticons`
                    ]
                })
            </script>