<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/homeNavbar.ejs') %>

    <div class="container pt-5 pb-5">
        <div class="card">
            <div class="card-header">
                <h1>Editar categoria</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/categories/update">
                    <label for="cat-title">Nome da categoria</label>
                    <input class="form-control mb-3" id="cat-title" name="title" type="text"
                        value="<%= category.title %>">
                    <input type="hidden" value="<%= category.id %>" name="id">
                    <button class="btn btn-info">Atualizar</button>
                </form>
            </div>
        </div>
    </div>

<%- include ('../../partials/pageFooter.ejs') %>
<%- include ('../../partials/footer.ejs') %>