<%- include ('partials/head.ejs') %>
<%- include ('partials/homeNavbar.ejs') %>

    <div class="container pt-5 pb-5" style="width: 65%;">
        <h2 style="display: flex; justify-content: space-between;">
            <%- article.title %>
        </h2><br>
        <%- article.body %>
    </div>

<%- include ('partials/pageFooter.ejs') %>
<%- include ('partials/footer.ejs') %>