<%- include ('partials/head.ejs') %>
<%- include ('partials/homeNavbar.ejs') %>

    <div class="container card mt-5 mb-5" style="width: 65%;">
        <h3 style="display: flex; justify-content: space-between;">
            <%- article.title %>
        </h3><br>
        <%- article.body %>
    </div>

<%- include ('partials/pageFooter.ejs') %>
<%- include ('partials/footer.ejs') %>