<%- include ('partials/head.ejs') %>
<%- include ('partials/homeNavbar.ejs') %>

    <div class="container pt-5 pb-5">
        <div class="jumbotron">
            <h1 class="display-4">Blugger</h1>
            <p class="lead">O portal de atigos aleatórios</p>
        </div>
        <% articles.forEach(article => { %>
            <div class="card mt-3">
                <div class="card-body">
                    <h3><%= article.title %></h3>
                    <div class="d-flex justify-content-between">
                        <p class="text-secondary">Categoria: <%= article.categoryId %></p>
                        <a href="/<%= article.slug %>">Ler artigo >></a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

<%- include ('partials/pageFooter.ejs') %>
<%- include ('partials/footer.ejs') %>